.root {
    box-sizing: border-box;
}  
*,*::before,  *::after {
    box-sizing: inherit;
}  
body {
    margin: 5px;
    /* padding: 2px; */
    background-image: url("./assets/background_weather.jpg");
    background-repeat: no-repeat, no-repeat;
    display: grid;
    justify-content: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    color: white;
}
.card {
    display: block;
    position: relative;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;  
    width: 300px;
    height: 85vh;
    aspect-ratio: 0.6;
    border: 1px solid rgba(31, 28, 36, 0.934);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.888);
    overflow: hidden;
    text-align: center;
}
.container_title{
    color: skyblue;
    height: 40px;
    margin: 15px; 
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
}
.container_location{
    border-bottom: 1px solid rgb(221, 11, 11);
    color: bisque;
}
.container_weather{
    display: flex;
    margin-top: 10px;
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
}
.container_weather_status{
    display: block;
    width: 60%;
    border: 1px solid rgb(0, 0, 0);
}

.container_weather_weather_description{
    height: 15%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}
.container_weather_image{
    justify-content: center;
    height: 70%;
    border: 1px solid rgb(45, 237, 15);
    width: 100%;
}
.container_weather_weather_main{
    height: 15%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    color: skyblue;
}
.container_weather_data{
    border: 1px solid rgb(53, 0, 229);
    width: 100%;  
}
.container_weather_data p{
    border: 1px solid rgb(53, 0, 229);
    width: 100%;
    color:beige;
    padding: 0;
    margin: 0;    
}
.container_temperature{
    color:chartreuse;
    padding-bottom: 10px;
}
.btn{
    margin: 10px;
    padding: 5px;
    color: chartreuse;
    background-color: rgba(4, 9, 22, 0.423);
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
}
.load{
    display: block;
    color: yellow;
    margin-top: 300px;
    text-align: center;

}
h1{
    font-size: 26px;
}
h2{
    font-size: 22px;
    margin: 5px;
}
h3{
    font-size: 18px;
    margin: 0;
    color: rgb(244, 215, 215);
}
ul{
    border: 1px solid rgb(78, 156, 14);
    font-size: 12px;
}
li{
    text-align: left;
    border: 1px solid rgb(78, 156, 14);
    padding: 0;
    margin: 0;
    list-style: none
}
p{
    font-size: 12px;
}
.latitude{
    border: 1px solid rgb(78, 156, 14);
    margin: 0;
    font-size: 16;
} 
.longitude{
    border: 1px solid rgb(78, 156, 14);
    margin: 0;
    font-size: 16;
}
img{
    height: 170px;
}
footer{
    text-align: center;
    font-size: 6px;
    color: rgb(0, 0, 0);
}